* {
    font-family: "Iosevka NF";
    font-size: 14px;
    padding: 0px 3px 0px 3px;
}

window#waybar {
    color: #FEFFED;
    background-color: rgba(25, 25, 25, 0.9);
}

tooltip {
    color: #FEFFED;
    background-color: #24272B;
    border-radius: 1px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces button {
    color: #FEFFED;
    border-radius: 1px;
    padding: 0px 2px;
    margin: 6px 6px; 
}

#workspaces button.active {
    color: #FEFFED;
    background-color: #696773;
    border-radius: 1px;
}

#network,
#cpu,
#memory,
#bluetooth,
#wireplumber,
#clock,
#privacy,
#tray {
    padding: 3px 12px;
    margin: 5px 5px; 
}

#network,
#cpu,
#memory,
#wireplumber,
#clock,
#privacy,
#tray {
    color: #FEFFED;
}

#network.disconnected {
    color: #F24333;
}

#bluetooth {
    color: #0A81D1;
}

#bluetooth.disabled {
    color: #A89B9D;
}

#bluetooth.no-controller,
#bluetooth.off {
    color: #F24333;
}

#wireplumber.muted {
    color: #A89B9D;
}
